body
{
    background-color: black;



    nav
    {
        color: white;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-left 
        {
            display: flex;
            align-items: center;
            gap: 1rem;

            a
            {
                display: flex;
                align-items: center;  
                img 
                {
                    display: block;
                    height: 40px;
                }
            }
        }
        .navright 
        {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            ul
            {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                li 
                {
                    display: flex;
                    align-items: center;
                    padding: 0.2em;
                }
                li.cap 
                {
                    text-transform: uppercase;
                }
            }
            div 
            {
                text-align: right;
            }
        }
    }

    main 
    {
        color: white;
    }
}